@media (min-width: 320px) and (max-width: 425px) {

    .app {
        width: 300px;
        margin: 10px auto;
        padding: 10px;
        box-shadow: none;
    }

    .seach-form {
        margin-bottom: 20px;
    }
    
    .label {
        display: none;
    }

    input::placeholder {
        font-size: 16px;
        font-family: 'Prompt', sans-serif;
        color: #ffffff;
        letter-spacing: 3px;
        opacity: 0.33;
    }

    .title-box {
        margin-bottom: 20px;
    }

    .title {
        font-size: 45px;
    }

    .city {
        font-size: 28px;
    }

    .about-weather {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .description {
        font-size: 20px;
    }

    .temp-feels, .wind {
        font-size: 14px;
        letter-spacing: 2px;
    }

    .delimiter {
        margin-left: 7px;
        margin-right: 7px;
        font-size: 14px;
    }
}