* {
    box-sizing: border-box;
}

body {
    background-color: #2F4454;
    color: white;
    padding: 100px 0;
}

.card {
    width: 400px;
    height: 350px;
    background-color: #376E6F;
}
h2 {
    font-size: 20px;
    color: #ffffff;
}

b {
    font-size: 15px;
}


/* 7 task */

img {
    width: 200px;
}

.bigsize {
    width: 300px;
}